* {

    background: #141b1e;
    lightBackground: #232a2d;
    red: #e57474;
    green: #8ccf7e;
    yellow: #e5c76b;
    blue: #67b0e8;
    magenta: #c47fd5;
    cyan: #6cbfbf;
    lightGray: #b3b9b8;
    white: #dadada;

    blurBackground: #141b1ebf;
    selected: #b3b9b833;
    selectedForeground: @white;
    accent: @lightBackground;
    foreground: @white;
}
