.cal-box {
  font-family: 'Iosevka';
  background-color: $bg;
  border-radius: 8px;
  padding: 1rem 1rem 0.2rem;

  .upcoming-events {
    padding: 1em;
    margin-top: -1.2em;
    .title {
      font-size: 1rem;
      font-weight: bold;
      margin-bottom: 0.5rem;
    }
    .nothing {
      margin-top: 2em;
    }
    .add {
      font-size: 20px;
      margin-top: -8px;
      font-family: "Symbols Nerd Font";
    }
    .event {
      font-size: 10px;
      font-family: 'Terminus';
      margin: 0.2em 0em 0.2em -0.2em;
      .time {
        color: $blue-desaturated;
      }
    }
  }

  .cal {
    &.highlight {
      padding: 10rem;
    }
    padding: 0.8rem 0.25rem 0rem;
    margin-left: 10px;
  }
}

calendar:selected {
  color: $accent;
}

calendar.header {
  color: $cyan;
  font-weight: bold;
}

calendar.button {
  color: $cyan;
}

calendar.highlight {
  color: $green;
  font-weight: bold;
}

calendar:indeterminate {
  color: rgba(205, 219, 249, 0.3);
}
