* {
    background:  #101212;
    blurBackground:  #101212bf;
    selected:  #232a2d;
    selectedAlt: #b3b9b833;
    selectedForeground: #dadada;
    foreground:  #dadada;
    accent:  #191F1F;
    background-color: transparent;
    text-color: @foreground;
}
