@import "./theme.rasi"

configuration {
    font: "Terminus 12";
    show-icons: false;
}

prompt {
    enabled: true;
    text-color: @foreground;
    background-color: @background;
}

entry {
    enabled: true;
    placeholder: "Y/N";
    text-color: @foreground;
    background-color: @background;
}

window {
    padding: 10;
    width: 360px;
    border-radius: 0px;
    background-color: @background;
}

inputbar {
    background-color: @background;
}
